body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.titleMessageTop {
    position: relative;
    text-align: center;
    color: white;
}

.titleMessageTop img {
    width: 100%;
    height: 600px;
    opacity: .8;
}

.titleMessage {
    position: absolute;
    top: 25%;
    left: 30%;
}

.donate-today {
    text-align: center;
    margin-top: 50px;
}

.amount-button {
    display: flex;

}

.number-of-amount {
    padding: 20px 40px;
    margin: 20px 40px 10px 40px;
    background-color: azure;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

#twoButton {
    border: 3px solid rebeccapurple;
    color: red;
}

.otherAmount {
    text-align: center;
}

.donate-now {
    padding: 20px 30px;
    background-image: linear-gradient(tomato, orange);
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-left: 45%;
    margin-top: 20px;
}

.food-item {
    display: flex;
}

.foodFamily {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20x;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    width: 100%;
}

#shelter-family {
    background-color: lightpink;
    border-radius: 5px;
}

#food-for-family {
    background-color: #b6f0e4;
    border-radius: 5px;
}

#education-child {
    background-color: #faf0e6;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 20px;
}

footer h1 {
    color: rgb(156, 38, 38);
}

footer p {
    color: white;
}